<div class='hidden lg:flex items-center justify-between'>
  <div class='flex'>
    <div class='h-8 w-8 border border-transparent hover:border-accent rounded transition-all duration-300 hover:text-accent flex items-center justify-center cursor-pointer'>
      {% render 'icon', icon: 'account' %}
    </div>

    <div class='h-8 w-8 border border-transparent hover:border-accent rounded transition-all duration-300 hover:text-accent flex items-center justify-center cursor-pointer'>
      {% render 'icon', icon: 'search' %}
    </div>
  </div>

  <div class='flex flex-col items-center'>
    <a class='mx-auto mb-2 w-full max-w-[4.75rem]' href='/'>
      {%- render 'component.image', image: s.logo -%}
    </a>
  
    <nav class='hidden lg:block'>
      <ul class='flex h-full items-center space-x-4 pt-2 font-heading text-menu uppercase'>
        {%- if s.menu != blank -%}
          {% for link in linklists[s.menu].links -%}
            <li class='pb-2.5 {% if link.links != blank %}flex items-center group/link h-full{%- endif -%}'>
              <a
                class='flex items-center space-x-1.5 leading-normal border border-transparent hover:border-accent rounded transition-all duration-300 hover:text-accent justify-center cursor-pointer p-2.5'
                href='{{- link.url -}}'
              >
                <span>
                  {{- link.title -}}
                </span>
                {%- if link.links != blank -%}
                  <span>
                    <div class=''>
                      {%- render 'icon',
                        icon: 'icon-down',
                        class: 'group-hover/link:rotate-180 transition-transform duration-300'
                      -%}
                    </div>
                  </span>
                {%- endif -%}
              </a>

              
              {% comment %} Custom submenu {% endcomment %}
              {% for block in section.blocks %}
                {% liquid
                  assign link_title = link.title | downcase
                  assign b = block.settings 
                %}

                {% if link_title == b.match_menu %}
                  <ul class='animation-appereance pointer-events-none absolute top-[150px] w-full rounded p-5 text-menu-sm opacity-0 shadow-md group-hover/link:pointer-events-auto group-hover/link:opacity-100 duration-300 transition-all grid grid-cols-2 lg:grid-cols-8 gap-5 max-w-[90%] left-1/2 -translate-x-1/2 bg-[#1C1C1C]'>
                    {% for collection in b.collection_list %}
                      <li class='col-span-1 rounded overflow-hidden relative'>
                        <a href="{{ collection.url }}" class='absolute w-full h-full inset-0'></a>

                        <div>
                          {% render 'component.image', 
                            image: collection.featured_image, 
                            class: 'aspect-[1/1.2]' 
                          %}
                        </div>

                        <div class="py-4 bg-black text-content text-menu uppercase font-heading text-center">
                          {{ collection.title }}
                        </div>
                      </li>
                    {% endfor %}
                </ul>
                {% endif %}
              {% endfor %}
  
              {% comment %} Default submenu {% endcomment %}
              {%- if link.links != blank and link_title != b.match_menu -%}
                <ul class='animation-appereance bg-theme pointer-events-none absolute -left-[15%] top-5 w-[130%] space-y-2.5 rounded p-5 text-menu-sm opacity-0 shadow-md group-hover/link:pointer-events-auto group-hover/link:opacity-100'>
                  {%- for child_link in link.links -%}
                    <li>
                      <a class='text-menu leading-normal' href='{{- child_link.url -}}'>
                        {{- child_link.title -}}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor %}
        {%- endif -%}
      </ul>
    </nav>
  </div>

  <div class='flex'>
    <div class='h-8 w-8 border border-transparent hover:border-accent rounded transition-all duration-300 hover:text-accent flex items-center justify-center cursor-pointer'>
      {% render 'icon', icon: 'wishlist' %}
    </div>

    <div class='h-8 w-8 border border-transparent hover:border-accent rounded transition-all duration-300 hover:text-accent flex items-center justify-center cursor-pointer'>
      {% render 'icon', icon: 'cart' %}
    </div>
  </div>
</div>

