{% form 'customer', class: 'max-w-[470px] mx-auto mt-4 lg:mt-10' %}
  <input type='hidden' name='contact[tags]' value='newsletter'>
  <div>
    <div class='relative flex flex-col lg:flex-row'>
      <div class='relative w-full'>
        <input
          id='newsletter'
          type='email'
          name='contact[email]'
          class='w-full rounded-bl rounded-tl border border-[#404040] bg-primary	 bg-opacity-50 p-4 text-body-sm outline-none backdrop-blur-sm lg:p-5'
          value='{{ form.email }}'
          aria-required='true'
          autocorrect='off'
          autocapitalize='off'
          autocomplete='email'
          {% if form.errors %}
            autofocus
            aria-invalid='true'
            aria-describedby='newsletter-error'
          {% elsif form.posted_successfully? %}
            aria-describedby='newsletter-success'
          {% endif %}
          placeholder='{{- 'newsletter.email_placeholder' | t -}}'
          required
        >

        {%- render 'icon', icon: 'message', class: 'absolute right-4 top-1/2 -translate-y-1/2' -%}
      </div>
      <button
        type='submit'
        class='mt-4 shrink-0 border-none bg-accent px-6 py-5 font-heading font-black uppercase text-primary lg:mt-0 lg:rounded-bl-none lg:rounded-tl-none lg:px-10 lg:py-0'
        name='commit'
        aria-label='subscribe'
      >
        {{- 'newsletter.submit' | t -}}
      </button>
    </div>
    {%- if form.errors -%}
      <div class='mt-4 flex w-full' id='newsletter-error'>
        {%- render 'icon', icon: 'icon-error', class: 'w-4 mr-2' -%}
        <div>
          {{- form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email -}}
        </div>
      </div>
    {%- endif -%}
  </div>
  {%- if form.posted_successfully? -%}
    <h3
      class=' mt-2 flex'
      id='newsletter-success'
      tabindex='-1'
    >
      {%- render 'icon', icon: 'icon-success', class: 'w-6 h-6 mr-2' -%}
      <span class='text-body-sm opacity-60'>{{- 'newsletter.confirmation' | t -}}</span>
    </h3>
  {%- endif -%}
{% endform %}
