{%- liquid
  assign s = section.settings
-%}

<div class='container-full grid-desktop relative'>
  <div class='col-span-full min-h-[600px]'>{%- render 'component.image', image: s.image -%}</div>

  <div class='absolute left-4 bottom-8 lg:top-1/2 col-span-full max-w-4xl lg:-translate-y-1/2 pr-10 text-left text-white lg:left-10'>
    <{{ s.title_tag }} class='mb-5 text-heading-2-mobile font-bold uppercase lg:text-heading-2'>
      {{- s.title -}}
    </{{ s.title_tag }}>
    <div class='mb-4 lg:mb-10 max-w-2xl text-body-mobile lg:text-body-xs'>{{- s.body -}}</div>

    <button href='{{- s.button_url -}}' class='{{- s.button_style }} button'>
      {{- s.button_text -}}
    </button>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "button-accent",
      "options": [
        {
          "value": "button-primary",
          "label": "Primary"
        },
        {
          "value": "button-white",
          "label": "White"
        },
        {
          "value": "button-accent",
          "label": "Accent"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "header",
      "content": "Appearance"
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
