{%- liquid
  assign s = section.settings
-%}

<div
  data-aos="fade-up"
  class='container-full grid-desktop py-5 lg:py-14'
>
	{% if s.background_image != blank %}
		<div class='absolute inset-0 w-full h-full hidden lg:block'>
			{% render 'component.image', image: s.background_image %}
		</div>
	{% endif %}
  

	{% if s.enable_background_pattern %}
		<div
			style='background: url({{- settings.background_pattern | img_url: '128x' -}}) repeat; background-size: 24px;'
			class='absolute inset-0 w-full h-full {% if s.background_image != blank %}lg:hidden{% endif %}'
    >
		</div>
	{% endif %}

  {% if s.title != blank or s.body != blank %}
    <div class='gradient-heading flex flex-col text-center items-center justify-center'>
      {% if s.title != blank and s.title %}
        <{{ s.title_tag }}
          class='text-heading-4-mobile lg:text-heading-4 font-bold'
        >
          {{- s.title -}}
        </{{ s.title_tag }}>
      {% endif %}

      {% if s.body != blank and s.body %}
        <div class='text-body-sm text-gray'>
          {{- s.body -}}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class='grid grid-cols-16 col-span-full gap-2 lg:gap-5'>
    {%- for product in s.collection.products limit: 8 -%}
      <div class='relative col-span-full flex flex-row-reverse items-center lg:items-start lg:flex-col rounded bg-grey lg:col-span-4 {% if forloop.index == 5 %} lg:col-start-3 {% endif %}'>
        <a href='{{- product.url -}}' class='absolute inset-0 z-10'></a>
        {%- render 'component.image', image: product.featured_image, picture_class: 'basis-1/2 lg:basis-full' -%}

        <div class='bg-grey text-body-mobile lg:text-body-xs lg:p-5 lg:text-body basis-1/2 lg:basis-full'>
          <h3 class='text-content mb-2 font-body'>{{- product.title -}}</h3>
          <p class='font-heading text-body-mobile lg:text-body-sm font-bold tracking-normal text-accent'>
            {{- product.price | money_without_trailing_zeros -}}
          </p>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection Products",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
		{
      "type": "inline_richtext",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background Image"
		},
		{
      "type": "checkbox",
      "id": "enable_background_pattern",
      "label": "Enable background pattern",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Collection Products"
    }
  ]
}
{% endschema %}
