{%- liquid
  assign s = section.settings
-%}

<div class='container-content'>
  {%- if s.title -%}
    <{{ s.title_tag }} class='mb-5 text-center text-heading-3 text-primary'>{{- s.title -}}</{{ s.title_tag }}>
  {%- endif -%}

  {%- if s.body -%}
    <div class='mx-auto mb-10 max-w-4xl text-center text-body opacity-60'>
      {{- s.body -}}
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class='grid grid-cols-12 gap-6'>
      {%- for block in section.blocks -%}
        {%- liquid
          assign b = block.settings
        -%}

        {%- if b.image != blank -%}
          <div class='group relative col-span-4 overflow-hidden'>
            {%- render 'component.image', image: b.image, class: 'group-hover:scale-110 animation-appereance' -%}

            {%- if b.title != blank -%}
              <div class='animation-appereance absolute bottom-6 left-6 w-[calc(100%-1.5rem)] text-heading-5 text-white group-hover:-translate-y-1'>
                {{- b.title -}}
              </div>
            {%- endif -%}

            {%- if b.url != blank -%}
              <a href='{{- b.url -}}' class='absolute inset-0 z-[3]'></a>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Discover Services",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    }
  ],
  "blocks": [
    {
      "type": "services",
      "name": "service",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Discover Services"
    }
  ]
}
{% endschema %}
