{%- liquid
  assign s = section.settings
-%}

<footer class='container-full'>
  <div class='grid-desktop bg-grey gap-4 space-y-6 overflow-hidden rounded py-6 text-content lg:space-y-0 lg:px-5 lg:pt-16'>
    {%- if s.footer_logo != blank or s.footer_content != blank -%}
      <div class='col-span-full max-w-sm lg:col-span-2'>
        <a href='/' class='mb-5 block max-w-[13rem]'>
          {%- render 'component.image', image: s.footer_logo -%}
        </a>
        <div class='text-[14px] opacity-60'>
          {{- s.footer_content -}}
        </div>
      </div>
    {%- endif -%}

    {%- if s.shop != blank -%}
      <div class='col-span-full lg:col-span-2'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.shop].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.shop].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if s.information != blank -%}
      <div class='col-span-full lg:col-span-2 lg:pl-10'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.information].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.information].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if s.about != blank -%}
      <div class='col-span-full lg:col-span-2'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.about].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.about].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if s.follow != blank -%}
      <div class='col-span-full lg:col-span-2'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.follow].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.follow].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    <div class='col-span-full lg:col-span-2'>
      <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'> HERE TO HELP </{{ s.title_tag }}>

      <ul class='space-y-2'>
        <li class='animated-link flex w-fit items-center gap-1 font-heading text-menu uppercase leading-normal'>
          {% render 'icon', icon: 'phone', class: 'text-accent' %}

          <a href='tel:+77 691 221 221'>call us: +77 691 221 221</a>
        </li>

        <li class='animated-link flex w-fit items-center gap-1 font-heading text-menu uppercase leading-normal'>
          {% render 'icon', icon: 'globe', class: 'text-accent' %}

          <span>Mon-Fri: 9:00am - 5:00pm</span>
        </li>

        <li class='animated-link flex w-fit items-center gap-1 font-heading text-menu uppercase leading-normal'>
          {% render 'icon', icon: 'mail', class: 'text-accent' %}

          <a href='mailto:info@alandium.com'>mail us: info@alandium.com</a>
        </li>
      </ul>
    </div>

    <div class='col-span-full mt-20 flex justify-center'>
      <div class='text-body-sm opacity-60'>{{- s.copyright -}}</div>
    </div>
  </div>

  <div class='mx-auto max-w-xs pb-10 lg:mt-20'>
    {%- render 'component.image', image: s.payment_methods_img -%}
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Footer Content"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "richtext",
      "id": "footer_content",
      "label": "Footer Content"
    },
    {
      "type": "link_list",
      "id": "shop",
      "label": "Shop Menu"
    },
    {
      "type": "link_list",
      "id": "information",
      "label": "Information Menu"
    },
    {
      "type": "link_list",
      "id": "about",
      "label": "About us Menu"
    },
    {
      "type": "link_list",
      "id": "follow",
      "label": "Follow us Menu"
    },
    {
      "type": "richtext",
      "id": "newsletter_heading",
      "label": "Newsletter Heading"
    },
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Footer copyright"
    },
    {
      "type": "header",
      "content": "Footer settings"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "payment_methods_img",
      "label": "Payment methods image"
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
