{%- liquid
  assign s = section.settings
-%}

<footer class='container-full'>
  <div class='grid-desktop text-content space-y-6 overflow-hidden rounded bg-grey px-5 py-6 lg:space-y-0 lg:pt-16'>
    {%- if s.footer_logo != blank or s.footer_content != blank -%}
      <div class='col-span-full max-w-sm lg:col-span-3'>
        <a href='/' class='mb-5 block max-w-[13rem]'>
          {%- render 'component.image', image: s.footer_logo -%}
        </a>
        <div class='text-[14px] opacity-60'>
          {{- s.footer_content -}}
        </div>
      </div>
    {%- endif -%}

    {%- if s.shop != blank -%}
      <div class='col-span-full lg:col-span-1'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.shop].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.shop].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if s.information != blank -%}
      <div class='col-span-full pl-10 lg:col-span-2'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.information].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.information].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if s.about != blank -%}
      <div class='col-span-full lg:col-span-2'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.about].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.about].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if s.follow != blank -%}
      <div class='col-span-full lg:col-span-2'>
        <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'>
          {{- linklists[s.follow].title -}}
        </{{ s.title_tag }}>

        <ul class='space-y-2'>
          {% for link in linklists[s.follow].links -%}
            <li class='animated-link w-fit font-heading text-menu uppercase leading-normal'>
              <a href='{{- link.url -}}'>{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    <div class='col-span-full lg:col-span-2'>
      <{{ s.title_tag }} class='mb-5 text-body-sm font-bold uppercase'> HERE TO HELP </{{ s.title_tag }}>

      <ul class='space-y-2'>
        <li class='animated-link flex w-fit items-center gap-1 font-heading text-menu uppercase leading-normal'>
          <svg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d="M15.4975 14.0781C15.4975 14.0781 14.6285 14.9316 14.4156 15.1819C14.0686 15.5521 13.6599 15.7269 13.1241 15.7269C13.0726 15.7269 13.0176 15.7269 12.9661 15.7235C11.946 15.6583 10.998 15.2607 10.287 14.9214C8.34288 13.9822 6.63579 12.6488 5.21723 10.9589C4.04598 9.55007 3.26285 8.24753 2.7442 6.849C2.42476 5.99549 2.30798 5.33051 2.3595 4.70323C2.39385 4.30218 2.54841 3.96969 2.8335 3.68518L4.00476 2.51632C4.17306 2.35864 4.35167 2.27295 4.52684 2.27295C4.74323 2.27295 4.91841 2.4032 5.02832 2.51289C5.03176 2.51632 5.03519 2.51975 5.03863 2.52318C5.24815 2.71856 5.44736 2.9208 5.65688 3.13674C5.76336 3.24643 5.87328 3.35612 5.98319 3.46924L6.92088 4.40501C7.28497 4.76836 7.28497 5.10428 6.92088 5.46762C6.82127 5.56702 6.7251 5.66643 6.62549 5.7624C6.33697 6.05719 6.56362 5.831 6.26479 6.09837C6.25792 6.10522 6.25105 6.10865 6.24762 6.11551C5.95223 6.41029 6.00719 6.69823 6.06901 6.89361C6.07245 6.90389 6.07588 6.91417 6.07932 6.92446C6.32319 7.51403 6.66666 8.06933 7.18875 8.73088L7.19218 8.73431C8.14018 9.89975 9.1397 10.8081 10.2423 11.5039C10.3831 11.5931 10.5273 11.665 10.6647 11.7336C10.7884 11.7953 10.9052 11.8536 11.0048 11.9153C11.0185 11.9221 11.0323 11.9324 11.046 11.9393C11.1628 11.9975 11.2727 12.025 11.386 12.025C11.6711 12.025 11.8497 11.8467 11.9081 11.7884L12.5814 11.1166C12.6982 11 12.8836 10.8595 13.1 10.8595C13.313 10.8595 13.4882 10.9932 13.5946 11.1097C13.5981 11.1131 13.5981 11.1131 13.6015 11.1166L15.4941 13.0053C15.8479 13.3549 15.4975 14.0781 15.4975 14.0781Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          <a href='tel:+77 691 221 221'>call us: +77 691 221 221</a>
        </li>

        <li class='animated-link flex w-fit items-center gap-1 font-heading text-menu uppercase leading-normal'>
          <svg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d="M15.3281 9.5C15.6043 9.5 15.8281 9.27614 15.8281 9C15.8281 8.72386 15.6043 8.5 15.3281 8.5L15.3281 9.5ZM15.25 9C15.25 12.4518 12.4518 15.25 9 15.25V16.25C13.0041 16.25 16.25 13.0041 16.25 9H15.25ZM9 15.25C5.54822 15.25 2.75 12.4518 2.75 9H1.75C1.75 13.0041 4.99594 16.25 9 16.25V15.25ZM2.75 9C2.75 5.54822 5.54822 2.75 9 2.75V1.75C4.99594 1.75 1.75 4.99594 1.75 9H2.75ZM9 2.75C12.4518 2.75 15.25 5.54822 15.25 9H16.25C16.25 4.99594 13.0041 1.75 9 1.75V2.75ZM9 15.25C8.75769 15.25 8.48744 15.1399 8.19804 14.8601C7.90624 14.578 7.62062 14.1456 7.3699 13.5726C6.86913 12.4279 6.54688 10.8117 6.54688 9H5.54688C5.54688 10.9162 5.8857 12.675 6.45375 13.9734C6.73745 14.6218 7.08817 15.178 7.50298 15.579C7.9202 15.9824 8.42683 16.25 9 16.25V15.25ZM6.54688 9C6.54688 7.18832 6.86913 5.57206 7.3699 4.42744C7.62062 3.85438 7.90624 3.42203 8.19804 3.13992C8.48744 2.86014 8.75769 2.75 9 2.75V1.75C8.42683 1.75 7.9202 2.01762 7.50298 2.42097C7.08817 2.822 6.73745 3.37816 6.45375 4.02662C5.8857 5.32501 5.54688 7.08376 5.54688 9H6.54688ZM9 16.25C9.57317 16.25 10.0798 15.9824 10.497 15.579C10.9118 15.178 11.2626 14.6218 11.5463 13.9734C12.1143 12.675 12.4531 10.9162 12.4531 9H11.4531C11.4531 10.8117 11.1309 12.4279 10.6301 13.5726C10.3794 14.1456 10.0938 14.578 9.80196 14.8601C9.51256 15.1399 9.24231 15.25 9 15.25V16.25ZM12.4531 9C12.4531 7.08376 12.1143 5.32501 11.5463 4.02662C11.2626 3.37817 10.9118 2.822 10.497 2.42097C10.0798 2.01762 9.57317 1.75 9 1.75V2.75C9.24231 2.75 9.51256 2.86014 9.80196 3.13992C10.0938 3.42203 10.3794 3.85438 10.6301 4.42744C11.1309 5.57206 11.4531 7.18832 11.4531 9H12.4531ZM2.25 9.5L15.3281 9.5L15.3281 8.5L2.25 8.5L2.25 9.5Z" fill="currentColor"/>
          </svg>

          <span>Mon-Fri: 9:00am - 5:00pm</span>
        </li>

        <li class='animated-link flex w-fit items-center gap-1 font-heading text-menu uppercase leading-normal'>
          <svg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d="M3.51563 5.0625L8.51973 8.65519C8.80867 8.86263 9.19133 8.86263 9.48027 8.65519L14.4844 5.0625M3.9375 14.25H14.0625C14.9945 14.25 15.75 13.4665 15.75 12.5V5.5C15.75 4.5335 14.9945 3.75 14.0625 3.75H3.9375C3.00552 3.75 2.25 4.5335 2.25 5.5V12.5C2.25 13.4665 3.00552 14.25 3.9375 14.25Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          <a href='mailto:info@alandium.com'>mail us: info@alandium.com</a>
        </li>
      </ul>
    </div>

    <div class='col-span-full mt-20 flex justify-center'>
      <div class='text-body-sm opacity-60'>{{- s.copyright -}}</div>
    </div>
  </div>

  <div class='mx-auto mt-20 max-w-xs pb-10'>
    {%- render 'component.image', image: s.payment_methods_img -%}
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Footer Content"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "richtext",
      "id": "footer_content",
      "label": "Footer Content"
    },
    {
      "type": "link_list",
      "id": "shop",
      "label": "Shop Menu"
    },
    {
      "type": "link_list",
      "id": "information",
      "label": "Information Menu"
    },
    {
      "type": "link_list",
      "id": "about",
      "label": "About us Menu"
    },
    {
      "type": "link_list",
      "id": "follow",
      "label": "Follow us Menu"
    },
    {
      "type": "richtext",
      "id": "newsletter_heading",
      "label": "Newsletter Heading"
    },
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Footer copyright"
    },
    {
      "type": "header",
      "content": "Footer settings"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "payment_methods_img",
      "label": "Payment methods image"
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
