{%- liquid
  assign s = section.settings
-%}

<div class='container-full relative overflow-hidden rounded'>
  {%- if s.image and s.image != blank and s.video == blank -%}
    {%- render 'component.image',
      image: s.image,
      lazyload: false,
      class: 'min-h-[450px] lg:min-h-auto rounded overflow-hidden'
    -%}
  {%- endif -%}

  {%- if s.video and s.video != blank -%}
    {%- render 'video', video: s.video, class: 'rounded overflow-hidden max-h-[700px]', video_class: 'h-full w-full', loop: true -%}
  {%- endif -%}

  <div class='absolute bottom-0 left-1/2 w-full max-w-full -translate-x-1/2 px-4 py-10 text-center text-white lg:bottom-10 lg:px-0'>
    {%- if s.title != blank -%}
      <{{ s.title_tag }} class='lg:px-6 text-heading-1-mobile font-bold uppercase lg:text-heading-1'>
        {{- s.title -}}
      </{{ s.title_tag }}>

      <div class='mx-auto mb-6 mt-2 max-w-[40rem] text-body-mobile lg:mt-0 lg:text-body'>
        {{- s.body -}}
      </div>

      <button href='{{- s.button_url -}}' class='{{- s.button_style }} button'>
        {{- s.button_text -}}
      </button>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "button-accent",
      "options": [
        {
          "value": "button-primary",
          "label": "Primary"
        },
        {
          "value": "button-white",
          "label": "White"
        },
        {
          "value": "button-accent",
          "label": "Accent"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
