{%- liquid
  assign s = section.settings
-%}

<div
  class='container-full overflow-hidden rounded'
>
  <div class='grid-desktop bg-theme text-content'>
    <div 
      data-aos="fade-in"
      data-aos-duration="1000"
      class='col-span-full row-start-1 lg:col-span-6 {% if s.image_alignment == 'right' %}lg:col-start-7 lg:row-start-1{% endif %}'>
      {% if s.image and s.video == blank %}
        {%- render 'component.image', image: s.image -%}
      {% endif %}

      {%- if s.video and s.video != blank -%}
        {%- render 'video', video: s.video, video_class: 'h-full w-full' -%}
      {%- endif -%}
    </div>

    <div
      {% if s.enable_background_pattern %}
        style='background: url({{- settings.background_pattern | img_url: '128x' -}}) repeat'
      {% endif %}
      data-aos="fade-in"
      data-aos-duration="1000"
      class='col-span-full row-start-2 bg-[rgb(29,30,30)] lg:col-span-6 lg:row-start-1 {% if s.image_alignment == 'right' %} lg:col-start-1 lg:row-start-1{% endif %}'
    >
      <div class='mx-auto flex h-full max-w-3xl flex-col items-center justify-center py-4 px-2 lg:p-5 text-center'>
        <{{ s.title_tag }} class='mb-4 text-heading-4-mobile font-semibold uppercase lg:text-heading-4'>
          {{- s.title -}}
        </{{ s.title_tag }}>

        <div class='mb-6 text-body-mobile opacity-60 lg:text-body-sm'>{{- s.body -}}</div>

        <button href='{{- s.button_url -}}' class='{{- s.button_style }} button'>
          {{- s.button_text -}}
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Media & Text",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "button-accent",
      "options": [
        {
          "value": "button-primary",
          "label": "Primary"
        },
        {
          "value": "button-white",
          "label": "White"
        },
        {
          "value": "button-accent",
          "label": "Accent"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "header",
      "content": "Appereance"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_background_pattern",
      "label": "Enable background pattern",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Media & Text"
    }
  ]
}
{% endschema %}
