{%- liquid
  assign s = section.settings
-%}

<div
  class='container-full rounded'
>
  <div class='grid-desktop' style='background-color: {{- s.background_color -}}; color: {{- s.text_color -}}'>
    <div class='col-span-10 {% if s.image_alignment == 'right'%}col-start-11 row-start-1{% endif %}'>
      {%- render 'component.image', image: s.image -%}
    </div>

    <div class='col-span-10 {% if s.image_alignment == 'right'%}col-start-1 row-start-1{% endif %}'>
      <div class='mx-auto flex h-full max-w-3xl flex-col items-center justify-center p-5 text-center'>
        <{{ s.title_tag }} class='mb-2 text-heading-4'>{{- s.title -}}</{{ s.title_tag }}>

        <div class='mb-6 text-body-sm opacity-60'>{{- s.body -}}</div>

        <button href='{{- s.button_url -}}' class='{{- s.button_style }} button'>
          {{- s.button_text -}}
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Media & Text",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "button-accent",
      "options": [
        {
          "value": "button-primary",
          "label": "Primary"
        },
        {
          "value": "button-white",
          "label": "White"
        },
        {
          "value": "button-accent",
          "label": "Accent"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Appereance"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#F2F2F2"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Media & Text"
    }
  ]
}
{% endschema %}
