{%- liquid
  assign s = section.settings
-%}

<div
  class='container-full overflow-hidden rounded'
>
  <div class='grid-desktop text-content bg-theme'>
    <div class='col-span-full row-start-1 lg:col-span-6 {% if s.image_alignment == 'right' %}lg:col-start-7 lg:row-start-1{% endif %}'>
      {%- render 'component.image', image: s.image -%}
    </div>

    <div class='col-span-full row-start-2 bg-[#1D1E1E] lg:col-span-6 lg:row-start-1 {% if s.image_alignment == 'right' %} lg:col-start-1 lg:row-start-1{% endif %}'>
      <div class='mx-auto flex h-full max-w-3xl flex-col items-center justify-center p-5 text-center'>
        {%- if s.bg_image and s.bg_image != blank -%}
          {%- render 'component.image', image: s.bg_image, class: 'absolute inset-0 w-full h-full' -%}
        {%- endif -%}

        <{{ s.title_tag }} class='mb-4 text-heading-5 font-semibold uppercase lg:text-heading-4'>
          {{- s.title -}}
        </{{ s.title_tag }}>

        <div class='mb-6 text-body-xs opacity-60 lg:text-body-sm'>{{- s.body -}}</div>

        <button href='{{- s.button_url -}}' class='{{- s.button_style }} button'>
          {{- s.button_text -}}
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Media & Text",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "button-accent",
      "options": [
        {
          "value": "button-primary",
          "label": "Primary"
        },
        {
          "value": "button-white",
          "label": "White"
        },
        {
          "value": "button-accent",
          "label": "Accent"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Appereance"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Media & Text"
    }
  ]
}
{% endschema %}
