{%- liquid
  assign s = section.settings
-%}

<div class='container-full'>
  <div
    {% if s.enable_background_pattern %}
      style='background: url({{- settings.background_pattern | img_url: '128x' -}}) repeat'
    {% endif %}
    class='relative overflow-hidden rounded bg-[#1D1E1E] py-10 lg:py-20'
  >
    <div class='absolute inset-0 h-full w-full bg-gradient-primary'></div>

    <div class='mx-auto max-w-full px-4 text-center text-white'>
      <{{ s.title_tag }} class='mb-2 text-heading-3-mobile font-bold uppercase lg:text-heading-3'>
        {{- s.title -}}
      </{{ s.title_tag }}>

      <div class='mx-auto mb-4 lg:mb-10 max-w-xl text-center text-body-xs text-white opacity-70 lg:text-body-sm'>
        {{- s.body -}}
      </div>

      <div>
        {%- render 'newsletter-form' -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "checkbox",
      "id": "enable_background_pattern",
      "label": "Enable background pattern",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}
