{%- liquid
  assign s = section.settings
-%}

<div class='container-content grid grid-cols-12 gap-x-5'>
  {%- if s.title -%}
    <{{ s.title_tag }} class='col-span-full mb-8 text-heading-3'>{{- s.title -}}</{{ s.title_tag }}>
  {%- endif -%}

  {%- if s.bg_image != blank -%}
    <div class='relative col-span-6'>
      {%- render 'component.image', image: s.bg_image -%}

      {%- if s.test or s.button_text -%}
        <div class='absolute bottom-4 left-4 w-[calc(100%-2rem)] max-w-md bg-accent p-5'>
          <div class='mb-5 text-body text-white'>
            {{- s.text -}}
          </div>

          <button href='{{- s.button_url -}}' class='{{- s.button_style }} w-fit min-w-[15rem] text-accent'>
            {{- s.button_text -}}
          </button>
        </div>
      {%- endif -%}
    </div>

    {%- if s.image_before_after -%}
      <div class='col-span-3'>
        {%- render 'component.image', image: s.image_before_after -%}
      </div>
    {%- endif -%}

    {%- if s.image_before_after_two -%}
      <div class='col-span-3'>
        {%- render 'component.image', image: s.image_before_after_two -%}
      </div>
    {%- endif -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Treatment",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "button-white",
      "options": [
        {
          "value": "button-primary",
          "label": "Primary"
        },
        {
          "value": "button-white",
          "label": "White"
        },
        {
          "value": "button-accent",
          "label": "Accent"
        }
      ]
    },
    {
      "type": "header",
      "content": "Images Before & After"
    },
    {
      "type": "image_picker",
      "id": "image_before_after",
      "label": "Image Before & After"
    },
    {
      "type": "header",
      "content": "Images Before & After"
    },
    {
      "type": "image_picker",
      "id": "image_before_after_two",
      "label": "Image Before & After"
    }
  ],
  "presets": [
    {
      "name": "Treatment"
    }
  ]
}
{% endschema %}
